@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap");

/* Typography */
h1 {
  font-size: 100px;
  font-family: $font-title;
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-primary;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  font-size: 14px;
  line-height: 1.4em;
}

@mixin typography-1350 {
  h1,h2 {
    font-size: 90px;
  }
}
@mixin typography-1280{
  h1,h2 {
    font-size: 80px;
  }
}
@mixin typography-1160{
  h1,h2 {
    font-size: 70px;
  }
}
@mixin typography-1025{
  h1,h2 {
    font-size: 65px;
  }
  h4 {
    font-size: 18px;
  }
}
@mixin typography-840{
  h1,h2 {
    font-size: 60px;
  }
}
@mixin typography-580{
  h1,h2 {
    font-size: 50px;
  }
  h4{
    font-size: 16px;
  }
}
@mixin typography-480{
  h1,h2 {
    font-size: 40px;
  }
}