$primary: #DEF358;
$secondary: #99A83E;
$yellow: #6F7A29;
$black: #000;
$white: #fff;

$font-primary: "Inter", sans-serif;
$font-secondary: 'Indie Flower', cursive;
$font-title: 'Architects Daughter', cursive;


// font-family: 
// font-family: 
// font-family: 'Inter', sans-serif;