.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.autoContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 60px;
}
.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 40px;
  input,
  textarea {
    width: 100%;
    background-color: transparent;
    resize: none;
    transition: 0.3s ease-out;
    font-family: $font-secondary;

    //font
    color: $black;
    font-style: normal;
    font-weight: 400;
    font-size: inherit;
    line-height: 1;
    letter-spacing: -0.4px;
    overflow: hidden;
    text-overflow: ellipsis;
    &::placeholder {
      color: $secondary;
      transition: 0.3s ease-out;
    }
  }
  &--underline {
    input {
      border-bottom: 2px solid $black;
    }
  }
  &._default {
    input {
      color: $secondary;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
}
.badge {
  font-size: 14px;
  color: $black;
  font-weight: 300;
  span {
    font-weight: 100;
  }
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em 1.5em;
  border: 1px solid transparent;

  color: $black;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  transition: all 0.3s ease;
  font-family: $font-primary;
  &--primary {
    background: $black;
    color: $white;
    border-radius: 100px;
    min-width: 300px;
    &:hover {
      color: $black;
      background: $white;
      border-color: $black;
    }
  }
  &--secondary {
    border-radius: 100px;
    width: 100%;
    border-color: $black;
    background-color: $white;
    &:hover {
      color: $white;
      background: $black;
    }
  }
  &:active {
    opacity: 0.7;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5 !important;
  }
}
.ratioImage {
  position: relative;
  padding-bottom: 64%;
  width: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--contain {
    img {
      object-fit: contain;
    }
  }
}
.noBreak {
  white-space: nowrap;
}

@mixin componetns-1280 {
  .input {
    font-size: 35px;
  }
}

@mixin componetns-1025 {
  .button {
    font-size: 16px;
    &--primary {
      min-width: 270px;
    }
  }
}

@mixin componetns-840 {
  .input {
    font-size: 30px;
  }
}
@mixin componetns-580 {
  .input {
    font-size: 25px;
  }
  .button {
    font-size: 14px;
    &--primary {
      min-width: 250px;
    }
  }
}
@mixin componetns-480 {
  .input {
    font-size: 22px;
  }
  .badge {
    font-size: 12px;
  }
}
